<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
        <%= form.label :"commenter name" , class: "control-label" %><br>
        <%= form.text_field :commenter , class: "form-control", :placeholder => "Enter your name..." %>
    </p>
    <p>
        <%= form.label :"your comment", class: "control-label"%><br>
        <%= form.text_area :body, class: "form-control" , :placeholder => "Enter your comment..."%>
    </p>
    <p>
        <%= form.label :status, class: "control-label" %>
        <%= form.select :status, ["public", "private", "archived"], selected: "public", class: "form-control" %>
    </p>
    <p>
        <%= form.submit class: "btn btn-primary formbutton" %>
    </p>
<% end %>