<%= form_with model: article do |form| %>
    <div>
        <%= form.label :title, class:  "control-label" %><br>
        <%= form.text_field :title, class: "form-control", size: "30", :placeholder => "Enter title..." %>
        <% article.errors.full_messages_for(:title).each do | message | %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :body, class:  "control-label" %><br>
        <%= form.text_area :body, class: "form-control", size: "30x10", :placeholder => "Enter your content..."%>
        <% article.errors.full_messages_for(:body).each do | message | %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :status, class: "control-label" %><br>
        <%= form.select :status, ["public", "private", "archived"] , selected: "public" , class: "form-control" %>
    </div>
    <div>
        <%= form.submit class: "btn btn-primary formbutton"%>
    </div>

<% end %>